<div class="header-wrapper">
  <h2>{{data.title}}</h2>
  <div class="buttons">
    <a href="{{moreTopicsLink}}" class="btn btn-more">{{moreTopicsButtonText}}</a>
    {{#d-button action=createTopic class="btn-primary btn"}}{{postButtonText}}{{/d-button}}
  </div>
</div>

{{#conditional-loading-spinner condition=isLoading}}
  {{topic-list topics=topicList showPosters=true}}
{{/conditional-loading-spinner}}
